* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto max-content;
  grid-template-areas: "header" "main_body" "footer";
  grid-gap: 1px;
  min-width: 250px;
  margin: 0;
  padding: 0px;
  font-size: 14px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.header {
  grid-area: header;
}

.main_body {
  grid-area: main_body;
}

.footer {
  grid-area: footer;
}

/*___________________active_______________________*/
.active_menu {
  border-color: #6ba917 !important;
  background: rgba(0, 0, 0, 0.05);
}

.menu_scroll {
  background: #fff !important;
}
.menu_scroll .menu a {
  line-height: 60px !important;
}

/*___________________header_______________________*/
.header,
.social_wrap,
.blok_menu_wrap,
.menu_wrap,
.info,
.social,
.media,
.lang,
.logo,
.menu {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  min-height: 1000px;
  flex-direction: column;
  background: center/cover no-repeat url("../img/header_bg.jpg");
}
.header a, .header i {
  color: #fff;
}
.header .blok_menu_wrap {
  width: 100%;
  height: max-content;
  position: sticky;
  top: 0;
  background: transparent;
  transition: 0.3s;
}
.header .social_wrap, .header .menu_wrap {
  width: 100%;
  max-width: 1800px;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px auto;
  padding: 16px;
}
.header .social_wrap .info, .header .menu_wrap .info {
  width: 80%;
  font-size: 16px;
}
.header .social_wrap .info p, .header .menu_wrap .info p {
  padding: 5px 10px;
  margin: 0;
}
.header .social_wrap .info p:first-child, .header .menu_wrap .info p:first-child {
  padding: 5px 10px 5px 0px;
}
.header .social_wrap .info i, .header .menu_wrap .info i {
  margin: 0px 7px;
}
.header .social_wrap .info a, .header .menu_wrap .info a {
  text-decoration-line: none;
}
.header .social_wrap .info a:hover, .header .menu_wrap .info a:hover {
  text-decoration-line: underline;
}
.header .social_wrap .social, .header .menu_wrap .social {
  width: 20%;
  justify-content: space-between;
}
.header .social_wrap .social .media, .header .menu_wrap .social .media {
  width: 60%;
  justify-content: right;
  align-items: center;
}
.header .social_wrap .social .media a, .header .menu_wrap .social .media a {
  font-size: 20px;
  margin: 2px 7px;
}
.header .social_wrap .social .media i:hover, .header .menu_wrap .social .media i:hover {
  color: #6ba917;
}
.header .social_wrap .social .lang, .header .menu_wrap .social .lang {
  width: 40%;
  justify-content: right;
  align-items: center;
}
.header .social_wrap .social .lang img, .header .menu_wrap .social .lang img {
  cursor: pointer;
  width: 25px;
  height: 18px;
  margin: 2px 4px;
  padding: 1px;
  border-radius: 3px;
}
.header .social_wrap .social .lang img:hover, .header .menu_wrap .social .lang img:hover {
  padding: 0px;
}
.header .menu_wrap {
  background: #fff;
  padding: 0px 40px;
  min-height: max-content;
  border-radius: 1px;
}
.header .menu_wrap .logo {
  width: 100%;
  max-width: 280px;
  align-items: center;
}
.header .menu_wrap .logo img {
  width: 100%;
}
.header .menu_wrap .menu {
  flex-grow: 1;
  justify-content: right;
}
.header .menu_wrap .menu ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  margin: 0;
}
.header .menu_wrap .menu li {
  width: max-content;
  margin: 0px 2px;
}
.header .menu_wrap .menu a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  border-top: 3px solid transparent;
  color: #3e3f40;
  text-decoration-line: none;
  text-align: center;
  line-height: 104px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.header .menu_wrap .menu a:hover {
  border-color: #6ba917;
  background: rgba(0, 0, 0, 0.05);
}

/*______________________login_________________________*/
.user_login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user_login .user_login > a {
  width: 100px;
  margin: 10px;
}
.user_login .user_login > a > img {
  width: 100%;
}