*{ box-sizing: border-box }

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto max-content;
  grid-template-areas: 'header' 'main_body' 'footer';
  grid-gap: 1px; 
  min-width: 250px; 
  margin: 0;
  padding: 10px;
  font-size: 14px;  
}
.header {
  grid-area: header;
}
.main_body {
  grid-area: main_body;
}
.footer {
  grid-area: footer;
}


