* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto max-content;
  grid-template-areas: "header" "main_body" "footer";
  grid-gap: 1px;
  min-width: 250px;
  margin: 0;
  padding: 0px;
  font-size: 14px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.header {
  grid-area: header;
}

.main_body {
  grid-area: main_body;
  width: 100%;
  max-width: 1800px;
  min-height: 100px;
  flex-direction: column;
  padding: 15px;
  margin: 0px auto;
}

.footer {
  grid-area: footer;
}

/*___________________active_______________________*/
.active_menu {
  border-color: #6ba917 !important;
  background: rgba(0, 0, 0, 0.05);
}

.menu_scroll {
  background: #fff !important;
  position: fixed;
}
.menu_scroll .menu a {
  line-height: 60px !important;
}

/*___________________to top_______________________*/
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #8bc34a;
  color: white;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 30px;
  border-radius: 1px;
}

#toTop:hover {
  background-color: #8bc34ac9;
}

/*___________________header_______________________*/
.main_body,
.header,
.social_wrap,
.menu_container,
.form_container,
.menu_wrap,
.form_wrap,
.info,
.social,
.media,
.lang,
.logo,
.menu,
.info_container,
.tabs_container,
.info_wrap,
.tabs_wrap,
.tabs,
.bodys,
.content_container,
.options_container {
  display: flex;
  flex-wrap: wrap;
}

.headerAddhome {
  min-height: 1100px;
}

.headerAddadvantages, .headerAddcontacts, .headerAddblog, .headerAddabout, .headerAddperson {
  min-height: 460px !important;
}

.menuAddadvantages, .menuAddcontacts, .menuAddblog, .menuAddabout, .menuAddperson {
  background: #fff !important;
}

.header {
  width: 100%;
  min-height: 1000px;
  flex-direction: column;
  position: relative;
  background: center/cover no-repeat url("../img/header_bg.jpg");
}
.header .header_pages_title1 {
  position: absolute;
  bottom: 210px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.header .header_pages_title2 {
  text-align: center;
  font-size: 59px;
  width: 100%;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 10px auto 110px auto;
}
.header a, .header i {
  color: #fff;
}
.header .menu_container, .header .form_container {
  min-width: 100%;
  height: max-content;
  background: transparent;
}
.header .menu_container {
  top: 0;
  transition: 0.3s;
  z-index: 999;
}
.header .form_container {
  position: absolute;
  top: 170px;
}
.header .social_wrap, .header .menu_wrap, .header .form_wrap {
  width: 100%;
  max-width: 1800px;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px auto;
  padding: 15px;
}
.header .social_wrap .info, .header .menu_wrap .info, .header .form_wrap .info {
  width: 80%;
  font-size: 16px;
}
.header .social_wrap .info p, .header .menu_wrap .info p, .header .form_wrap .info p {
  padding: 5px 15px 5px 0px;
  margin: 0;
}
.header .social_wrap .info i, .header .menu_wrap .info i, .header .form_wrap .info i {
  margin: 0px 7px;
  font-size: 18px;
}
.header .social_wrap .info a, .header .menu_wrap .info a, .header .form_wrap .info a {
  text-decoration-line: none;
}
.header .social_wrap .info a:hover, .header .menu_wrap .info a:hover, .header .form_wrap .info a:hover {
  text-decoration-line: underline;
}
.header .social_wrap .social, .header .menu_wrap .social, .header .form_wrap .social {
  width: 20%;
  justify-content: space-between;
}
.header .social_wrap .social .media, .header .menu_wrap .social .media, .header .form_wrap .social .media {
  width: 60%;
  justify-content: right;
  align-items: center;
}
.header .social_wrap .social .media a, .header .menu_wrap .social .media a, .header .form_wrap .social .media a {
  font-size: 20px;
  margin: 2px 7px;
}
.header .social_wrap .social .media i:hover, .header .menu_wrap .social .media i:hover, .header .form_wrap .social .media i:hover {
  color: #6ba917;
}
.header .social_wrap .social .lang, .header .menu_wrap .social .lang, .header .form_wrap .social .lang {
  width: 40%;
  justify-content: right;
  align-items: center;
}
.header .social_wrap .social .lang img, .header .menu_wrap .social .lang img, .header .form_wrap .social .lang img {
  cursor: pointer;
  width: 25px;
  height: 18px;
  margin: 2px 4px;
  padding: 1px;
  border-radius: 3px;
}
.header .social_wrap .social .lang img:hover, .header .menu_wrap .social .lang img:hover, .header .form_wrap .social .lang img:hover {
  padding: 0px;
}
.header .menu_wrap {
  background: #fff;
  padding: 0px 40px;
  min-height: max-content;
  border-radius: 1px;
}
.header .menu_wrap .logo {
  width: 100%;
  max-width: 280px;
  align-items: center;
}
.header .menu_wrap .logo img {
  cursor: pointer;
  width: 100%;
}
.header .menu_wrap .menu {
  flex-grow: 1;
  justify-content: right;
}
.header .menu_wrap .menu ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  margin: 0;
}
.header .menu_wrap .menu li {
  width: max-content;
  margin: 0px 2px;
}
.header .menu_wrap .menu a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  border-top: 3px solid transparent;
  color: #3e3f40;
  text-decoration-line: none;
  text-align: center;
  line-height: 104px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.header .menu_wrap .menu a:hover {
  border-color: #6ba917;
  background: rgba(0, 0, 0, 0.05);
}
.header .form_wrap {
  padding: 70px 15px 70px 15px;
}
.header .form_wrap .info_container, .header .form_wrap .tabs_container {
  width: 45%;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.header .form_wrap .info_container .info_wrap {
  width: 100%;
  text-align: left;
  color: #fff;
  justify-content: left;
  flex-direction: column;
}
.header .form_wrap .info_container .info_wrap h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.header .form_wrap .info_container .info_wrap p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.2;
  margin: 30px 0px 30px 0px;
}
.header .form_wrap .info_container .info_wrap a {
  width: max-content;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  border: 2px solid #fff;
  padding: 12px 15px;
  border-radius: 2px;
  transition: 0.4s;
}
.header .form_wrap .info_container .info_wrap a:hover {
  background: #fff;
  color: #3e3f40;
}
.header .form_wrap .tabs_container {
  min-height: 300px;
}
.header .form_wrap .tabs_container .tabs_wrap {
  width: 100%;
  flex-direction: column;
}
.header .form_wrap .tabs_container .tabs_wrap .tabs {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  max-width: 96%;
  min-height: 40px;
  background: #ee9e07;
  border-radius: 9px 9px 0px 0px;
}
.header .form_wrap .tabs_container .tabs_wrap .tabs .tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
  background: transparent;
  border-radius: 9px 9px 0px 0px;
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  transition: 0.3s;
}
.header .form_wrap .tabs_container .tabs_wrap .tabs .tab_active {
  background: #231718 !important;
}
.header .form_wrap .tabs_container .tabs_wrap .tab_bodys {
  width: 100%;
  color: #fff;
}
.header .form_wrap .tabs_container .tabs_wrap .tab_bodys .body {
  display: none;
  width: 100%;
  min-height: 400px;
  padding: 15px;
  border-radius: 0px 9px 9px 9px;
  background: #231718;
}
.header .form_wrap .tabs_container .tabs_wrap .tab_bodys .body:last-child p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 70px 0px 40px 0px;
}
.header .form_wrap .tabs_container .tabs_wrap .tab_bodys .body:last-child div {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
}
.header .form_wrap .tabs_container .tabs_wrap .tab_bodys .body:last-child div img {
  height: 100%;
  margin: 0px 15px;
}
.header .form_wrap .tabs_container .tabs_wrap .tab_bodys .body_active {
  display: block !important;
}

@media (min-width: 1151px) and (max-width: 1330px) {
  .header {
    min-height: 1120px;
  }
}
@media (min-width: 992px) and (max-width: 1150px) {
  .header {
    min-height: 1260px;
  }
}
/*_____________________content________________________*/
.content_container {
  width: 100%;
  max-width: 1800px;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px auto;
  padding: 60px 0px 70px 0px;
}
.content_container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  padding: 0px 15px;
  margin-top: 30px;
}
.content_container > div > div:first-child {
  width: 80px;
  height: 80px;
  background: #ee9e07;
  margin-bottom: 10px;
  text-align: center;
  padding: 17px 0px;
}
.content_container > div > div:first-child i {
  color: #fff;
  font-size: 40px;
}
.content_container > div > div:last-child {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 70%;
  padding-left: 30px;
}
.content_container > div > div:last-child h5 {
  margin: 0;
  line-height: 1.2;
  font-size: 20px;
}
.content_container > div > div:last-child p {
  margin: 10px 0px 0px 0px;
  line-height: 1.5;
  font-size: 15px;
}

/*_____________________options________________________*/
.options_container_wrap {
  display: flex;
  justify-content: center;
  background: #efede8;
}

.options_container {
  width: 100%;
  max-width: 1800px;
  height: max-content;
  padding: 90px 0px;
  justify-content: flex-start;
  overflow: hidden;
}
.options_container .options_wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: max-content;
}
.options_container .options_wrap .blok {
  min-height: 200px;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options_container .options_wrap .blok div:first-child {
  width: 50%;
  max-width: 300px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid #d9d9d9;
}
.options_container .options_wrap .blok div:first-child img {
  width: 100%;
}
.options_container .options_wrap .blok div:last-child {
  width: 50%;
  max-width: 300px;
  background: #fff;
  color: #3e3f40;
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
}
.options_container .options_wrap .blok div:last-child h5 {
  width: 100%;
  font-size: 24px;
  margin: 8px 0px;
}
.options_container .options_wrap .blok div:last-child h6 {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #808080;
  margin: 8px 0px 40px 0px;
}
.options_container .options_wrap .blok div:last-child p {
  margin: 15px 0px 4px 0px;
  color: #6ba917;
  font-size: 16px;
}
.options_container .options_wrap .blok div:last-child p i {
  font-size: 13px;
  margin: 0px 10px 0px 0px;
  color: #ee9e07;
}
.options_container .options_wrap .blok div:last-child .price {
  margin: 0px;
  color: #3e3f40;
  font-size: 15px;
  padding: 0px 0px 6px 0px;
  border-bottom: 1px solid #e1e1e1;
}
.options_container .options_wrap .blok div:last-child .price span:first-child {
  font-size: 11px;
  margin: 0px 4px 0px 0px;
}
.options_container .options_wrap .blok div:last-child .price span:last-child {
  margin: 0px 0px 0px 4px;
}
.options_container .arrow_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}
.options_container .arrow_wrap p {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #6ba917;
  text-align: center;
  font-size: 18px;
  color: #6ba917;
  margin: 0px 5px;
  padding: 9px;
  transition: 0.3s;
}
.options_container .arrow_wrap p:hover {
  background: #6ba917;
  color: #fff;
}

/*_____________________advantages________________________*/
.advantages .line {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}
.advantages .line > span {
  width: 90px;
  border: 1px solid #ee9e07;
  height: 0px;
}
.advantages .advantages_title1 {
  width: 100%;
  text-align: center;
  color: #ee9e07;
  font-size: 20px;
  margin: 20px 0px 10px 0px;
}
.advantages .advantages_title2 {
  width: 100%;
  text-align: center;
  color: #3e3f40;
  font-size: 48px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
}
.advantages > div {
  justify-content: center;
}
.advantages > div > div:last-child {
  width: 100%;
  text-align: center;
  padding: 0;
  justify-content: center;
}
.advantages > div > div:last-child h5 {
  font-size: 19px;
  width: 100%;
}
.advantages > div > div:last-child span {
  width: 60px;
  border: 1px solid #ee9e07;
  margin: 20px 0px 10px 0px;
  height: 0px;
}
.advantages > div > div:last-child p {
  width: 100%;
}
.advantages > div > div:first-child {
  margin-bottom: 30px;
}
.advantages > div > div:first-child b {
  color: #fff;
  font-size: 40px;
}

/*______________________login_________________________*/
.no_user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.no_user div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.no_user div img {
  width: 90px;
  margin: 15px;
}
.no_user p {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.user_wrap {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.user_wrap img {
  width: 60px;
  border-radius: 50%;
  margin: 10px auto;
}
.user_wrap p {
  text-align: center;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}
.user_wrap .exit, .user_wrap .btn, .user_wrap .form_send {
  cursor: pointer;
  border-bottom: 2px solid #ee9e07;
  font-weight: bold;
  width: max-content;
  margin: 5px auto;
  padding: 0px 0px 5px 0px;
  font-weight: bold;
  font-size: 14px;
}
.user_wrap .exit:hover, .user_wrap .btn:hover, .user_wrap .form_send:hover {
  border-color: red;
  font-weight: bold;
}
.user_wrap .form_send {
  margin: 20px 0px;
}
.user_wrap .tab_person {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_wrap .tab_person .tab_active {
  background: #e7e7e7 !important;
}
.user_wrap .tab_person .body_active {
  display: flex !important;
}
.user_wrap .tab_person .tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user_wrap .tab_person .tabs .tab {
  cursor: pointer;
  width: 22%;
  padding: 8px 15px;
  margin: 0px 10px;
  border-bottom: 2px solid #ee9e07;
}
.user_wrap .tab_person .tabs .tab:hover {
  background: #fafafa;
}
.user_wrap .tab_person .tab_bodys {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.user_wrap .tab_person .tab_bodys .body {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.user_wrap .tab_person .tab_bodys i {
  cursor: pointer;
  font-size: 26px;
  margin: 35px 0px 15px 0px;
}
.user_wrap .tab_person .tawns_list {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;
}
.user_wrap .tab_person .tawns_list .town, .user_wrap .tab_person .tawns_list .transfer {
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid #d9d9d9;
}
.user_wrap .tab_person .tawns_list .town p, .user_wrap .tab_person .tawns_list .transfer p {
  font-size: 14px;
  margin: 0px;
  display: flex;
  justify-content: right;
}
.user_wrap .tab_person .tawns_list .town p span, .user_wrap .tab_person .tawns_list .transfer p span {
  margin-left: 20px;
}
.user_wrap .tab_person .tawns_list .town p span i, .user_wrap .tab_person .tawns_list .transfer p span i {
  cursor: pointer;
  font-size: 12px;
  margin: 0px 3px;
  color: #5a5a5a;
}
.user_wrap .modal_wrap {
  position: absolute;
  top: 0;
  right: 0;
}
.user_wrap .modal_wrap .modal_close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  font-size: 30px;
  color: var(--fourth-color);
  right: 10px;
  top: 10px;
}
.user_wrap .modal_wrap .modal_body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b3b3bf0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.user_wrap .modal_wrap .modal_body .wrap_sub_modal {
  padding: 0px;
}
.user_wrap .modal_wrap .modal_body .wrap_sub_modal .towns_select_list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.user_wrap .modal_wrap .modal_body .wrap_sub_modal .towns_select_list p {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  color: #111;
  margin: 3px 0px;
  font-size: 12px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}
.user_wrap .modal_wrap .modal_body .wrap_sub_modal .towns_select_list p:hover {
  border-bottom: 1px solid #9e9e9e;
}
.user_wrap .modal_wrap .modal_place {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  background: #fff;
  width: 99%;
  max-width: 500px;
  min-width: 200px;
  max-height: 99%;
  overflow-y: auto;
  padding: 30px 10px 25px 10px;
}
.user_wrap .modal_wrap .modal_place .del_info {
  margin: 5px 20px;
  font-size: 14px;
}
.user_wrap .modal_wrap .modal_place #id_town {
  word-break: break-all;
}
.user_wrap .modal_wrap .modal_place .form_info {
  font-size: 11px;
  color: #9b9b9b;
}
.user_wrap .modal_wrap .modal_place .town_empty_ua, .user_wrap .modal_wrap .modal_place .town_empty_en, .user_wrap .modal_wrap .modal_place .town_empty_ru, .user_wrap .modal_wrap .modal_place .transfer_empty_to {
  display: none;
  color: #d50a0a;
  font-size: 11px;
  margin: 5px 0px 10px 0px;
  width: 90%;
  max-width: 300px;
}
.user_wrap .modal_wrap .modal_place .town_dup_ua, .user_wrap .modal_wrap .modal_place .town_dup_en, .user_wrap .modal_wrap .modal_place .town_dup_ru, .user_wrap .modal_wrap .modal_place .transfer_dup_to, .user_wrap .modal_wrap .modal_place .transfer_price_gr, .user_wrap .modal_wrap .modal_place .transfer_price_pr, .user_wrap .modal_wrap .modal_place .transfer_price_empt {
  display: none;
  color: #d50a0a;
  font-size: 11px;
  margin: 5px 0px 10px 0px;
  width: 90%;
  max-width: 300px;
}
.user_wrap .modal_wrap .modal_place .res_mess {
  font-size: 14px;
  color: #688f19;
}
.user_wrap .modal_wrap .modal_place input[type=text] {
  outline: 0;
  border: 0;
  border-bottom: 2px solid grey;
  width: 90%;
  max-width: 300px;
  margin: 10px 0px;
  text-align: center;
}
.user_wrap .modal_wrap .modal_place div, .user_wrap .modal_wrap .modal_place .add_time {
  width: 90%;
  max-width: 300px;
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.user_wrap .modal_wrap .modal_place div input, .user_wrap .modal_wrap .modal_place .add_time input {
  width: 20%;
  flex-grow: 1;
  border: 0;
  text-align: center;
  outline: 0;
  border-bottom: 2px solid grey;
}
.user_wrap .modal_wrap .modal_place div p, .user_wrap .modal_wrap .modal_place .add_time p {
  width: 110px;
  height: 2px;
  margin: 0;
  padding: 0px;
  font-size: 12px;
  color: grey;
  text-align: left;
}
.user_wrap .modal_wrap .modal_place .add_time {
  margin: 1px 0px;
}
.user_wrap .modal_wrap .modal_place .add_time .add {
  width: 100%;
  margin: 0;
}
.user_wrap .modal_wrap .modal_place .add_time .add i {
  cursor: pointer;
  margin: 0px 0px 0px 20px;
}
.user_wrap .modal_wrap .modal_place input[type=text]::placeholder {
  color: #a7a7a7;
}