<div class="footer_copir_container">
    <div class="footer_copir_wrap">
        <div>
            <a href="https://www.facebook.com/iftransfer.com.ua"><i class='fab fa-facebook-square'></i></a>
            <a href="https://www.instagram.com/transfer_booking/"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="copir">
            <a href="/privacy-policy"><%=DATA.langPack.privacy_policy %></a>
            <p> Copyright © <%=DATA.user.year %> Bukovel Transfer Booking</p>
        </div>
    </div>
</div>