<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>    
    <div class="main_body">
        <% if (DATA.permission.permissionAuthorization === '0') { %>        
            <div class="no_user">
                <p><%=DATA.langPack.autoriz_info %></p>
                <div>
                    <a href="/google"><img src="img/google.png" alt="google" title="GOOGLE"></a>
                    <a href="/facebook"><img src="img/facebook.png" alt="facebook" title="FACEBOOK"></a>
                </div>
            </div>
        <% } %>        
        <% if (DATA.permission.permissionAuthorization === '1') { %>


            <p>autorised </p>


            <% if (DATA.permission.permissionRules === '0') { %>        

                <p>autorised USER</p>

            
            <% } %>           
            <% if (DATA.permission.permissionRules === '1') { %> 

                <p>autorised ADMIN</p>
            
            <% } %>             
        <% } %> 


    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
</body>