<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>    
    <div class="main_body">
       <p>person</p>
       <div class="user_login">
            <a href="/google"><img src="img/google.png" alt="google"></a>
            <a href="/facebook"><img src="img/facebook.png" alt="facebook"></a>
        </div>
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
</body>