<div class="call_container" style="opacity: 0; transition: 1.5s;">
    <div class="call_wrap">
        <div class="call_foto"></div>
        <div class="call_info">
            <p class="call_header"><%=DATA.langPack.call_header %></p>
            <p class="call_tel">
                <span>
                    <%=DATA.langPack.call_tel %>
                </span>
                <span>
                    <a href="tel:380664250006">+38(066)425-00-06</a>
                    <a href="tel:380677877535">+38(096)307-12-75</a>
                </span>
            </p>
            <p class="call_mess"><%=DATA.langPack.call_mess %></p>
            <a href="/contacts"><%=DATA.langPack.call_btn %></a>
        </div>
    </div>
</div>