<div class="footer_copir_container">
    <div class="footer_copir_wrap">
        <div>
            <a href="https://www.facebook.com/iftransfer.com.ua"><i class='fab fa-facebook-square'></i></a>
            <a href="https://www.instagram.com/transfer_booking/"><i class="fab fa-instagram"></i></a>
        </div>
        <div>
            <p>Copyright © 2022 Bukovel Transfer Booking</p>
        </div>
    </div>
</div>