<div class="menu_wrap">
    <div class="logo">
        <p>Transfer Booking</p>
    </div>
    <div class="menu">
        <ul class="user_settings_list">
            <li><a href="/profile" id="profile-title"><%=DATA.langPack.profile %></a></li>
            <li><a href="/settings" id="settings-title"><%=DATA.langPack.settings %></a></li>
            <li><a href="/friends" id="friends-title"><%=DATA.langPack.friends %></a></li>
            <li><a onclick="exit()" id="exit-title"><%=DATA.langPack.exit %></a></li>
        </ul>
    </div>

</div>
